<app-header></app-header>
<main>
  <ng-container id="contenedorDrop" cdkDropListGroup>
    <div id="todo" cdkDropList [cdkDropListData]="arrayTodo()"
      [cdkDropListConnectedTo]="['inProgress','done','inTesting']" (cdkDropListDropped)="drop($event)">
      <h2>Nuevas <button mat-button color="primary" (click)="openDialog(1)"> <mat-icon class="mat-18">add</mat-icon>
        </button></h2>
      <div>
        <mat-card *ngFor="let task of arrayTodo()" cdkDrag>
          <mat-card-header>{{task.title}}</mat-card-header>
          <mat-card-content>{{task.description}}</mat-card-content>
          <mat-card-actions>
            <button mat-button color="basic" class="back" (click)="moveBack(task)"> <mat-icon
                class="mat-18">arrow_back</mat-icon></button>
            <button mat-button color="basic" class="forward" (click)="moveForward(task)"> <mat-icon
                class="mat-18">arrow_forward</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div id="inProgress" cdkDropList [cdkDropListData]="arrayInProgress()"
      [cdkDropListConnectedTo]="['todo','done','inTesting']" (cdkDropListDropped)="drop($event)">
      <h2>En proceso <button mat-button color="primary" (click)="openDialog(2)"> <mat-icon
            class="mat-18">add</mat-icon> </button></h2>
      <div>
        <mat-card *ngFor="let task of arrayInProgress()" cdkDrag>
          <mat-card-header>{{task.title}}</mat-card-header>
          <mat-card-content>{{task.description}}</mat-card-content>
          <mat-card-actions>
            <button mat-button color="basic" class="back" (click)="moveBack(task)"> <mat-icon
                class="mat-18">arrow_back</mat-icon></button>
            <button mat-button color="basic" class="forward" (click)="moveForward(task)"> <mat-icon
                class="mat-18">arrow_forward</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div id="inTesting" cdkDropList [cdkDropListData]="arrayInTesting()"
      [cdkDropListConnectedTo]="['todo','done','inProgress']" (cdkDropListDropped)="drop($event)">
      <h2>En pruebas <button mat-button color="primary" (click)="openDialog(3)"> <mat-icon
            class="mat-18">add</mat-icon> </button></h2>
      <div>
        <mat-card *ngFor="let task of arrayInTesting()" cdkDrag>
          <mat-card-header>{{task.title}}</mat-card-header>
          <mat-card-content>{{task.description}}</mat-card-content>
          <mat-card-actions>
            <button mat-button color="basic" class="back" (click)="moveBack(task)"> <mat-icon
                class="mat-18">arrow_back</mat-icon></button>
            <button mat-button color="basic" class="forward" (click)="moveForward(task)"> <mat-icon
                class="mat-18">arrow_forward</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div id="done" cdkDropList [cdkDropListData]="arrayDone()"
      [cdkDropListConnectedTo]="['todo','inProgress','inTesting']" (cdkDropListDropped)="drop($event)">
      <h2>Realizadas <button mat-button color="primary" (click)="openDialog(4)"> <mat-icon
            class="mat-18">add</mat-icon> </button></h2>
      <div>
        <mat-card *ngFor="let task of arrayDone()" cdkDrag>
          <mat-card-header>{{task.title}}</mat-card-header>
          <mat-card-content>{{task.description}}</mat-card-content>
          <mat-card-actions>
            <button mat-button color="basic" class="back" (click)="moveBack(task)"> <mat-icon
                class="mat-18">arrow_back</mat-icon></button>
            <button mat-button color="basic" class="forward" (click)="moveForward(task)"> <mat-icon
                class="mat-18">arrow_forward</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
</main>