@use '../styles.scss' as theme;

main {
    display: flex;
    justify-content: space-around;
    background-color: theme;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
}

#todo {
    button.back {
        display: none;
    }
}

#done {
    button.forward {
        display: none;
    }
}